google-api-python-client
google-auth-httplib2 
google-auth-oauthlib

pika
httpx
anyio

python-dotenv

pydrive2
sentry_sdk
simplegmail
openai-whisper
setuptools-rust
tensorboard
openai

fuzzywuzzy
requests